<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 扫描指定的包(将带有Component等注解的类自动定义为Spring Bean) -->
	<context:component-scan base-package="org.smart4j.framework"></context:component-scan>


    <!--配置一个代理, ProxyFactoryBean取代前面接口实现的ProxyFactory-->
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--需要代理的接口-->
        <property name="interfaces" >
            <list>
                <value>org.smart4j.framework.proxy.Greeting</value>
                <value>org.smart4j.framework.springaop.Apology</value><!--不直接在代码层面上实现的接口-->
            </list>
        </property>
        <!--接口实现类 这里使用的是ref，，使用value就会报错-->
        <property name="target" ref="greetingImpl"/>
        <!--拦截器的名称(也就是增强类、通知类的名称) 使用Spring+2.5的"Bean扫描"特性
            无需在配置文件中不断添加bean id="xxx" class="xxx"
            直接在拦截器类(通知类)上添加@Component注解，就会自动成为bean-->
        <property name="interceptorNames">
            <list>
                <value>greetingAroundAdvice</value>
                <value>greetingThrowAdvice</value>
                <value>greetingIntroAdvice</value><!--引入增强类-->
            </list>
        </property>
        <!--代理目标类:
            默认为false，也就是代理接口， 此时就用的JDK动态代理
            如果为true, 就用的CGLib动态代理-->
        <property name="proxyTargetClass" value="true"/>
    </bean>

</beans>